@media screen and (max-width: 767px) {
    .carousel-item img {
        height: 500px;
        object-fit: cover;
    }

    .album {
        display: flex;
        flex-direction: column-reverse;
    }

    .left-border {
        border-left: 5px solid #3F87F5;
    }
}

.hover {
    width: 240px;

    /* margin: auto; */
}

.hover:hover {
    background-color: #3F87F5;
    color: white;
    width: 290px;
}